# Other packages
opencv-python
pytest # TODO: in case we would like to switch to test-driven devel: "colcon test"
djitellopy

# ROS packages
empy
catkin_pkg
lark

# Pytorch
--extra-index-url https://download.pytorch.org/whl/cu118
torch 
torchvision 
torchaudio